*{
    margin-bottom: 15px;
}

.container {
    max-width: 200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.container_form {
    display: flex;
    align-content: space-between;
    flex-direction: column;
}